@layer  tokens, base, components, utilities;

@layer reset {
    *, *::before,*::after {
        box-sizing: border-box;
    }
}

* {
    margin: 0;
    
}

:root {
    --font-primary: 'Nimbus Sans' , 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-secondary: 'Liberation Mono', 'Courier New', Courier, monospace;
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 32px;
    --background: linear-gradient(-90deg, #22d3ee, #e2e8f0);
    --font-color1: gray; 
    --font-color2: white;
    --human-color: #22d3ee;
    --skynet-color: #f43f5e;
}

body {
    background: var(--background);
    font-family: var(--font-primary);
    max-width: 800px;
    margin: 0 auto;
}

img, video, picture, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}



.topNav {
    display: flex;
    justify-content: space-between;
    margin: 10px var(--space-lg);
}

.playAgain {
    border: none;
    background-color: purple;
    color: white;
    font-size: larger;
    padding: var(--space-sm);
    font-family: var(--font-secondary);
    font-weight: bold;
    visibility: hidden;
}

.statusBadge, .howtowin {
    font: var(--font-secondary);
}
 
li {
    list-style-type: none;
}

.statusBadge {
    color: var(--font-color1);
}

.howtowin{ 
    color: var(--font-color2);
}

/* ------------------------------------------------- */

.scores {
    display: flex;
    justify-content: space-around;
    margin-bottom: var(--space-md);
}

.humanSide, .vsDivision, .skynetSide {
    text-align: center;
}

.mainScoreBoard {
    background-color: white;
    padding: var(--space-md);
    border-radius: 15px;
    margin: var(--space-md);
    
}

.banner {
    border-top: 1px solid lightgray;
}

.divider {
    height: 35px;
    width: 0px;
    margin: 0 auto;
    border-left: 2px solid gray;
}

.vsDivision {
    margin: auto 0;
}

.scoreDynamic, .scoreDynamicSkynet {
    font-size: 6em;
    font-family: var(--font-secondary);
    font-weight: 700;
}

.scoreDynamic, .humanName { 
    color: var(--human-color);
    text-shadow: 0px 0px 10px var(--human-color);
}

.skynetName, .skynetScore {
    color: var(--skynet-color);
    text-shadow: 0px 0px 10px var(--skynet-color);
}

.humanName, .skynetName {
    font-weight: bold;
    letter-spacing: 1px;
}


.player, .aiCore {
    color: var(--font-color1);
    font-size: small;
}

.banner .text {
    text-align: center;
    margin-top: var(--space-sm);
    color: var(--font-color1);
    
}

.vs{
    padding-bottom: var(--space-sm);
    font-size: var(--space-md);
    font-style: italic;
}

.rnd {
    padding-top: var(--space-sm);
    font-size: var(--space-sm);
}

/* ------------------------------------- */

.mainContainer {
    background-color: white;
    border-radius: 15px;
    margin: var(--space-md);
    padding: var(--space-md);
    

}
.fighterArena {
    display: flex;
    justify-content: space-around;
}

.humanFighterSide, .clashCenterIndicator, .skynetFighterSide {
    text-align: center;
}

.clashCenterIndicator{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bannerContainer .text {
    text-align: center;
}

.humanWeapon, .skynetWeapon {
    width: 150px;
    
}

.humanIcon {
    border: 2px solid teal;
    border-radius: 15px;
    width: 120px;
    height: 120px;
    margin-top: var(--space-sm);
}

.skynetIcon {
    border: 2px solid red;
    border-radius: 15px;
    width: 120px;
    height: 120px;
    margin-top: var(--space-sm);
}

.humanWeapon {
    transform: scaleX(-1);
}

.clashCircle {
    background-color: black;
    color: var(--font-color2);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-style: italic;

}

.clashCenterIndicator {
    gap: var(--space-sm);
}

.standby {
    font-size: small;
    font-weight: 700;
    color: var(--font-color1);
}

.human, .humanfightStatus {
    color: var(--human-color);
    font-weight: bold;
}

.humanfightStatus {
    font-size: medium;
    margin-top: var(--space-sm);
    font-family: var(--font-secondary);

}

.skynet, .skynetfightStatus {
    color: var(--skynet-color);
    font-weight: bold;
    
}

.skynetfightStatus {
    font-size: medium;
    margin-top: var(--space-sm);
    font-family: var(--font-secondary);

}

.bannerContainer {
    background-color: rgb(2, 2, 37);
    padding: var(--space-sm);
    color: var(--font-color2);
    border-radius: 999px;
}

.clashBanner{
    margin-top: var(--space-md);
}


/* ------------------------------------- */

.top {
    display: flex;
    justify-content: space-between;
    margin: var(--space-md);
    margin-top: var(--space-lg);
    font-family: var(--font-secondary);
}

.left{
    font-size: medium;
    letter-spacing: 2px;
    color: var(--font-color1);
    font-weight: bold;
}

.right {
    font-size: medium;
    color: var(--font-color2);
    font-weight: bold;
}

.bottom {
    display: flex;
    justify-content: space-around;
}

.buttonCard {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--font-color1);
    width: 250px;
    height: 240px;
    padding: var(--space-md);
    border-radius: 30px;
}

.shape {
    width: 150px;
    margin: auto;
       
}

.shapeName {
    font-family: var(--font-secondary);
    font-weight: bold;
    color: var(--font-color2);
    
}

.shapeAction {
    font-size: small;
    
}

/* -------------------------------------- */

.controls {
    display: flex;
    justify-content: space-around;
    margin-top: var(--space-lg);
    background-color: var(--font-color2);
    padding: var(--space-md);
    margin: var(--space-md);
    border-radius: 999px;
    
}

.buttonLeft {
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-direction:row;
    gap: 10px;
    background-color: var(--human-color);
    color: var(--font-color2);
    padding: var(--space-sm);
    border-radius: 999px;
}

.buttonMid {
    display: flex;
    align-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: var(--human-color);
    color: var(--font-color2);
    padding: var(--space-sm);
    border-radius: 999px;
}

.buttonRight {
    display: flex;
    align-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: var(--human-color);
    color: var(--font-color2);
    padding: var(--space-sm);
    border-radius: 999px;
}

.controls img {
    width: 20px;
}

/* ----------------------------------- */

.rightsReserved {
    text-align: center;
}

.rightsReserved a {
    text-decoration: none;
    color: black;
}

.rightsReserved a:hover {
    color: var(--skynet-color);
    opacity: 0.7;
}

@media (max-width: 790px) {
    .buttonCard {
        width: 200px;
        height: auto;
        display: flex;
        flex-direction: column;
        
       
    }

    .buttonCard img {
        width: 100px;
        height: auto;
        margin: auto;
    }
}


@media (max-width: 630px) {
    .buttonCard {
        width: 160px;
        height: auto;
        display: flex;
        flex-direction: column;
        
        
       
    }

    .buttonCard img {
        width: 70px;
        height: auto;
        margin: auto;
        margin-left: 30px;
    }
}

@media (max-width: 500px) {
    .buttonCard {
        width: 120px;
        height: auto;
        display: flex;
        flex-direction: column;
        
        
       
    }

    .buttonCard img {
        width: 50px;
        height: auto;
        margin: auto;
        margin-left: 20px;
    }
}

@media (max-width: 375px) {
    .buttonCard {
        width: 100px;
        height: auto;
        display: flex;
        flex-direction: column;
        
        
       
    }

    .buttonCard img {
        width: 50px;
        height: auto;
        margin: auto;
        margin-left: 10px;
    }

    .shapeName {
        /* width: px; */
        /* margin-right: 30px; */
        font-size: medium;
        
    }



    .shapeAction {
        /* width: 10px; */
        /* text-align: center; */
        /* margin-right: 30px; */
        font-size: medium;
    }

    .buttonLeft, .buttonMid, .buttonRight {
        font-size: small;
    }

    .humanIcon, .skynetIcon {
        width: 100px;
        height: auto;
    }
}